@import "_colors.scss";

$open-sans: 'Open Sans', sans-serif;

html,
body {
	font-family: $open-sans;
}

.section-header {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;

	@include phone {
		font-size: 5vw;
		letter-spacing: 0.6vw
	}

	@include tablet {
		font-size: 2.2vw;
	}
}

.icon-title {
	color: $dark-grey-font;
	font-weight: 400;
	text-align: center;

	@include phone {
		font-size: 4vw;
	}

	@include tablet {
		font-size: 2.2vw;
		font-weight: 700;
	}
}

.icon-copy {
	color: $dark-grey-font;
	font-weight: 400;
	text-align: center;

	@include phone {
		display: none;
	}

	@include tablet {
		font-size: 2vw;
		font-weight: 300;
		margin: 0;
	}
}

.ipsum-copy {
	width: 90%;
	color: $dark-grey-font;
	font-weight: 300;
	text-align: center;

	@include phone {
		font-size: 3.5vw;
	}
}