$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-content-max-width: 1180px;

@mixin phone {
	@media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}
// This fixes one specific issue while approaching desktop width
@mixin tablet-lg {
	@media (min-width: #{$desktop-width}) and (max-width: #{$desktop-content-max-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}