article.how-works {
	width: $desktop-width;
	height: 20em;
	margin: 2em 0;
	position: relative;

	@include phone {
		height: 50vw;
		width: 90vw;
		margin: 1em 0;
	}

	@include tablet {
		width: 95vw;
		height: 40vw;
		margin: 2em 0;
		border-bottom: 2px solid #ccc;
	}

	ul.how-works__icons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;

		@include phone {
			justify-content: center;
		}

		@include tablet {
			justify-content: center;
		}

		@include tablet-lg {
			justify-content: space-evenly;
		}

		li {
			display: inherit;
			flex-direction: column;
			align-items: center;

			&:nth-child(odd) {
				width: 260px;

				@include phone {
					width: 25vw;
				}

				@include tablet {
					width: 24vw;
					margin: 0 1vw;
				}

				img {
					width: 8em;

					@include phone {
						width: 65%;
					}

					@include tablet {
						width: 14vw;
					}
				}
			}

			&:nth-child(even) {
				@include phone {
					width: 5vw;
				}

				@include tablet {
					display: none;
				}

				@include desktop {
					display: none;
				}

				img {
					@include phone {
						margin-top: 5vw;
						width: 4vw;
					}
				}
			}

			&:last-child {
				.icon-copy {
					width: 11em;
				}
			}
		}
	}

	&:before {
		@include desktop {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			content: " ";
			display: block;
			border-bottom: 1px solid #ccc;
			width: 1200px;
			height: 22em;
		}
	}
}