article.how-works {
	@include phone {
		height: 12em;
		width: 90vw;
		margin: 1em 0;
	}

	@include tablet {
		width: 90vw;
		height: 35vh;
		margin: 2em 0;
		border-bottom: 2px solid #ccc;
	}

	ul.how-works-icons {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding: 0;

		@include phone {
			justify-content: space-around;
		}

		@include tablet {
			justify-content: space-evenly;
		}

		li {
			display: inherit;
			flex-direction: column;
			// justify-content: center;
			align-items: center;

			&:nth-child(odd) {
				@include phone {
					width: 30vw;
				}

				@include tablet {
					width: 25vw;
				}

				img {
					@include tablet {
						width: 60%;
					}
				}
			}

			&:nth-child(even) {
				@include phone {
					width: 5vw;
				}

				@include tablet {
					display: none;
				}

				img {
					@include phone {
						margin-top: 1.4em;
					}
				}
			}
		}
	}
}