@import "globals/_vars_mixins";
@import "globals/_typography";
@import "globals/_colors";
@import "components/how-it-works";

html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: white;
	overflow: hidden;

	@include phone {
		background-color: #f1f1f1;
	}
}

// Wraps how-to bar, plus off-screen content from the comps
.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include phone {
		height: 100vh;
		width: 100vw;
		margin: 0;
		padding: 0;
	}
	// Maybe not strictly necessary to have these dummy sections, but...
	div.dummy-upper,
	div.dummy-lower {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	div.dummy-upper {
		width: 100%;
		height: 20em;
		box-shadow: 0 3px 3px #999;

		@include phone {
			width: 90vw;
			height: 20em;
			background-color: white;
			box-shadow: 0 4px 0px 0 #ccc;
		}

		@include tablet {
			width: 95vw;
			border-bottom: 2px solid #ccc;
			box-shadow: none;
		}

		@include tablet {
			height: 30vh;
		}
	}

	div.dummy-lower {
		height: 20em;

		@include phone {
			width: 100vw;
			height: 100%;
			background-color: white;
		}

		@include tablet {
			height: 30vh;
		}
	}
}